@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(240, 253, 244);
}

.swiper {
    width: 50%;
}

.custom-height {
    height: calc(100vh - 90px);
}